/* Header */

body{
    margin: 0;
    padding: 0; 
}
.favicon{
    min-width: 50px;
    max-width: 50px;
}

button{
    background-color: #2187B0;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    white-space: nowrap;
}

.title{
    margin-left: 20px;
    flex-grow: 1;
}


.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin-left: 20px;
    white-space: nowrap;
}
/* Main */
.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px;
}

.main-content a{
    color:#2187B0;
    font-weight: bold;
}

.main-image{
    flex: 1;
    width: 100%;
    padding: 10px;
}

.main-blurb{
    flex: 2;
    padding: 10px;
}

.main-blurb h2{
    text-align: center;
    padding: 10px;
}

.main-blurb p{
    text-indent: 20px;
}
/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu-footer{
    margin-left: 20px;

}
.socials{
    display: flex;
    flex-direction: column;
}

.copyright{
    display: flex;
    justify-content: center;
}