*{
    box-sizing: border-box;
}

/* Header */

body{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0A122A;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.nav-links{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

/* Main */
main{
    background-color: white;
    color: #0A122A;
    padding-bottom: 1rem;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
}

.main-content a{
    text-decoration: underline;
}

.heading{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url('../images/heading_image.jpg');
    padding: 1rem;
}

.main-image{
    padding: 1rem;
}

.main-blurb{
    padding: 1rem;
}

.main-blurb p{
    text-indent: 20px;
}

/* Footer */
.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
}

.copyright{
}

/* Media Queries */
@media screen and (min-width: 992px) {
    .header{
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .main-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }

    .main-image{
        width: 40%;
        height: auto;
    }

    .main-blurb{
        flex: 1;
    }

}