/* Header */

body{
    margin: 0;
    padding: 0; 
}
.favicon{
    min-width: 50px;
    max-width: 50px;
}

button{
    background-color: #2187B0;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    white-space: nowrap;
}

.title{
    margin-left: 20px;
    flex-grow: 1;
}


.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin-left: 20px;
    white-space: nowrap;
}
/* Main */

.heading{
    text-align: center;
    background: #2187B0;
    background: linear-gradient(90deg, rgba(33, 135, 176, 1) 0%, rgba(0, 73, 102, 1) 100%);
    color: white;
    padding: 20px 0px;
}

.contact-form{
    margin: 20px 80px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #2187B0;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type=submit]{
    background-color: #2187B0;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
}

input[type=submit]:hover{
    background-color: #004966;
}


/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    resize: vertical;
}

.menu-footer{
    margin-left: 20px;

}
.socials{
    display: flex;
    flex-direction: column;
}

.copyright{
    display: flex;
    justify-content: center;
}